<div class="card">
    <div class="card-header">
        <%= @publication.title %>
    </div>
    <div class="card-body">
        <p><%= @publication.description %></p>
        <p><%= @publication.file_url %></p>
    </div>
</div>